{% extends "base.html" %}

{% block body_class %}page-about{% endblock %}

{% block content %}
<div class="about">
  <img src="{{ get_url(path='profile.jpg') }}" alt="Jacob Scott" class="profile-img">
  <div class="about-content">
    <h1>Hi</h1>
    <p>
      I'm a software developer/data scientist/data engineer with a background
      in mathematics, currently based in Cardiff, Wales.
    </p>
    <p>
        For humans only: <code>jscott2718&lt;at&gt;gmail&lt;dot&gt;com</code>
    </p>
  </div>
</div>
{% endblock %}
