{% extends "base.html" %}

{% block body_class %}page-post{% endblock %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock %}

{% block og_title %}{{ page.title }}{% endblock %}

{% block og_url %}{{ page.permalink }}{% endblock %}

{% block content %}
<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">{{ page.date | date(format="%Y-%m-%d") }}</div>
  <div class="post-content">
    {{ page.content | safe }}
  </div>
</article>
{% endblock %}
